/*************************************************************
  Written by Nehan Hettiarachchi, Term 2 2022
*************************************************************/
/*------------------------------------------------------------*
  GENERAL STYLING
/*------------------------------------------------------------*/
html, body {
  margin: 0px;
  padding: 0px;
  font-family: Comfortaa-Regular;
  background-image: url('Images/Artboard 1.png');
  background-size: cover;
};

h1 {
  font-size: 150px;
  padding-top: 150px;
  font-family: comfortaa;
}

/*------------------------------------------------------------*
  LANDING PAGE STYLING
/*------------------------------------------------------------*/
#lp {
  display: block;
}

#lp_title{
  padding-top: 150px;
  font-family: comfortaa;
  font-size: 150px;
  color: white;
}

.lp_Welcome {
  font-size: 50px;
  font-family: comfortaa;
  animation: fadeinout 5s linear forwards;
  animation-iteration-count: infinite;
}

#b_goToGames{
  display: none;
  margin: auto;
}
/*------------------------------------------------------------*
  ANIMATIONS
/*------------------------------------------------------------*/
@keyframes fadeinout{
0%,100% { opacity: 0.3; }
50% { opacity: 1; }
}


/*------------------------------------------------------------*
  REGISTRATION page styling
/*------------------------------------------------------------*/
#rp {
  display: none;
  height:  100%;
  width: 50%;
  /* The line below is just so you can see the form during testing //<========*/ 
}

#rp_page{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}

/*************************************************************
/*    END OF CSS
*************************************************************/