/*************************************************************
  Written by Nehan Hettiarachchi, Term 2 2022
*************************************************************/

/*** General styling *********************************************************/
html, body {
  margin: 0px;
  padding: 0px;
  font-family: Comfortaa-Regular;
  background-image: url('Images/Artboard 1.png');
  background-size: cover;
};

h1 {
  font-size: 150px;
  padding-top: 150px;
  font-family: comfortaa;
}

/*** Landing page styling *********************************************************/
#lp {
  display: block;
}

#lp_title{
  padding-top: 150px;
  font-family: comfortaa;
  font-size: 150px;
  color: white;
}


.lp_Welcome {
  font-size: 50px;
  font-family: comfortaa;
  animation: fadeinout 5s linear forwards;
  animation-iteration-count: infinite;
}

/*** Animations *********************************************************/
@keyframes fadeinout{
0%,100% { opacity: 0.3; }
50% { opacity: 1; }
}

/*** Registration page styling *********************************************************/
#rp {
  display: none;
  height:  100%;
  width: 50%;
}

#rp_page{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.transparentBG {
  background: rgba(169, 169, 169, 0.7);
  color: black;
}

/*** Game Page Styling *********************************************************/
#gp_title{
  font-family: comfortaa;
  font-size: 150px;
  color: white;
}

#userProfile{
display: block;
margin: auto;
}

.gp_header{
 padding: 20px;
  margin:auto;
}

.gp_userDetails{
  font-size: 30px;
  font-family: comfortaa;
  color: white;
  text-align: center;
  margin: auto;
}

.gp_buttons{
  margin: auto;
}

#ls{
  display: none;
  height: 100%;
  width: 100%;
}

#ls_title{
  padding-top: 100px;
  font-family: comfortaa;
  font-size: 150px;
}

#s_table{
  display:none;
  height: 95vh;
}

/*** Lobby select styling *********************************************************/

.RPSLobby{
  max-width: 1100px;
  margin: 15px;
}

/*** Game Screen Styling *********************************************************/
#RPS{
  display: none;
}

.game-area{
  display:flex;
  justify-content: space-between;
}

.game-status{
  border: 4px double black;
  width: 500px;
  height: 520px;
}

.player1, .player2{
  margin: 5px;
  width: 200px;
  text-align: center;
  font-family: comfortaa;
  font-size: 30px;
  letter-spacing: 2px;
}

.rock:hover, .paper:hover, .scissors:hover {
    border: 4px dotted rgb(45, 96, 153);
    border-radius: 20px;
    padding: 5px;
}

.fake-choices1{
  display: none;
}

.fake-choices2{
  display: none;
}

/*** End of CSS *********************************************************/
